In [20]:
import pandas as pd
from sqlalchemy import create_engine
import urllib
import numpy as np

In [20]:
params = urllib.parse.quote_plus('DRIVER={SQL Server Native Client 11.0};Server=gmcsql12\datawhs;Trusted_Connection=yes;')

engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [8]:
df = pd.read_sql("""select custnum,date
                    ,sum(sales) OVER (PARTITION BY custnum 
                                      order by custnum,date 
                                      rows 11 PRECEDING) as R12Sales
                     from gmlsql2hou.invplannersapp.dbo.TSdata_JT 
                     order by custnum,date"""
                 ,con=engine)

df['date'] = pd.to_datetime(df['date'],yearfirst=True)
df = df[(df['date'].dt.year >= 2016)]

In [9]:
df.head(20)

   custnum       date  R12Sales
12  100016 2016-01-01   8812.99
13  100016 2016-02-01   8520.41
14  100016 2016-03-01   8573.56
15  100016 2016-04-01  10848.33
16  100016 2016-05-01  16495.14
17  100016 2016-06-01  19577.91
18  100016 2016-07-01  20576.40
19  100016 2016-08-01  27448.66
20  100016 2016-09-01  27646.77
21  100016 2016-10-01  26421.61
22  100016 2016-11-01  28132.49
23  100016 2016-12-01  28132.49
24  100016 2017-01-01  26565.76
25  100016 2017-02-01  28104.03
26  100016 2017-03-01  31351.09
27  100016 2017-04-01  29978.91
28  100016 2017-05-01  27408.50
29  100016 2017-06-01  30657.40
30  100016 2017-07-01  32573.42
31  100016 2017-08-01  26105.50

In [30]:
# list = []

# for i in set(df.custum):
    
    
data = df[df['custnum']=='100016']['R12Sales']


tsdata

array([[[ 8812.99],
        [ 8520.41],
        [ 8573.56],
        [10848.33],
        [16495.14],
        [19577.91],
        [20576.4 ],
        [27448.66],
        [27646.77],
        [26421.61],
        [28132.49],
        [28132.49],
        [26565.76],
        [28104.03],
        [31351.09],
        [29978.91],
        [27408.5 ],
        [30657.4 ],
        [32573.42],
        [26105.5 ],
        [28406.57],
        [38398.28],
        [45126.8 ],
        [51076.81],
        [52069.67],
        [50364.12],
        [47273.  ],
        [46832.96],
        [48621.38],
        [45891.5 ],
        [43584.52],
        [43353.92],
        [38921.46],
        [31601.24],
        [23748.5 ],
        [19792.83],
        [25822.08],
        [26339.65],
        [27272.69],
        [27562.61]]])

In [27]:
data2 = df[df['custnum']=='135841']['R12Sales']
tsdata2 = np.asarray(data).reshape(1,len(data),1)
tsdata2.shape

(1, 40, 1)

In [ ]:
# iterate over each customer number and append via vstack function

newdata = np.vstack((tsdata,tsdata2))

In [35]:
newdata.shape

(2, 40, 1)